@import "@fontsource/google-sans-flex";

* {
  font-family: "Google Sans Flex", sans-serif, monospace;
}

.sub-container {
  /* grid-template-rows: auto; */
  gap: 1rem 0rem;
  justify-self: start;
  margin-top: 1rem;
  width: 20rem;
  font-size: 15px;
}

@media screen and (width <= 650px) {
  .sub-container {
    width: 15rem;
  }
}

@media screen and (width <= 500px) {
  .sub-container {
    width: 10rem;
  }
}

@media screen and (width <= 400px) {
  .sub-container {
    width: 8rem;
  }
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

p,
a,
b,
li,
i, em {
  font-size: 15px;
  line-height: 0.75rem;
}

span.ticker, p.ticker {
    color: gray;
    width: 1rem;
    margin-right: 10px;
    padding-right: 10px;
}

p.quickinfo {
    color: gray;
    font-size: 13px;
    line-height: 0.75rem;
    margin: 0;
    padding: 0;
}

li {
    line-height: 1rem;
}


ul.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.listing {
    display: flex;
    justify-content: flex-start;
}

li.navbar {
    display: flex;
    display: inline-block;
    margin-right: 20px;
}



/*li {
    /*line-height: 0.75rem;*/

strong {
    font-size: 15px;
    font-weight: bolder;
}

sub {
    line-height: 0.25rem;
    font-size: 13.5px;
}

span, ul {
  line-height: 0.75rem;
  font-size: 15px;
}

a {
  color: blue;
  text-decoration: none;
}

a#ery {
  color: rgb(255, 91, 214);
}
