.menu-container {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem 0rem;
    justify-self: start;
    margin-top: 1rem;
}

a {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: black;
    text-align: left;
    width: 10rem;
    height: 1.5rem;
    padding-left: 0.25rem;
}

a.disabled, a.disabled:hover {
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    color: gray
}

a.about:hover {
    background-color: rgb(54, 99, 248);
    color: white
}

a.about:active {
    background-color: rgb(9, 63, 241);
    color: white
}

a.projects:hover {
    background-color: rgb(250, 105, 255);
    color: white
}

a.projects:active {
    background-color: rgb(242, 54, 248);
    color: white
}

a.blog:hover {
    background-color: rgb(255, 90, 90);
    color: white
}

a.blog:active {
    background-color: rgb(255, 61, 61);
    color: white
}

a.socials:hover {
    background-color: rgb(0, 197, 16);
    color: white
}

a.socials:active {
    background-color: rgb(0, 139, 12);
    color: white
}

a.github:hover {
    background-color: #21262d;
    color: white
}

a.github:active{
    background-color: #0d1117;
    color: white
}