---
import Contact from "../components/Contact.astro";
import "../styles/global.css";
import "../styles/container.css";
---
<!-- e -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <a href=".">return</a>
      <Contact />
    </div>
  </body>
</html>
