---
import '../styles/global.css'
import Title from '../components/Title.astro'
import MainMenu from '../components/MainMenu.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="public/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Everest Luong</title>
	</head>
	<body>
		<div class="main-container">
			<Title />
			<MainMenu/>

			<div class="footer">
				<a href="https://github.com/hikalg/express">source code</a>
				<a href="https://www.youtube.com/watch?v=UsGYvf24MiA">chinese</a>
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">dark mode</a>
			</div>
		</div>
	</body>
</html>
