---
import "../styles/container.css";
---

<div class="sub-container">
  <h1>about me</h1>
  <span>
    <p>
      heya, name is Everest! if you feel 3 syllables are too much you can call
      me Eve. if you are Viet you can also call me Nam.
    </p>

    <h2>where are you from?</h2>

    <p>
      i'm in Sydney, but from Vietnam (fun fact: you can't even tell i'm
      overseas if i didn't tell you this)
    </p>

    <h2>hobbies?</h2>
    <p>
      big computer nerd. my favourite laptop is probably the ThinkPad P1, but
      hoping to get a T480 soon.
    </p>

    <p>
      i also like transport! my favourite train line is the M1 (cliche). also
      big westconnex fan (not transurban)
    </p>

    <h2>favour-</h2>
    <p>
      oh yes my favourite is <a
        href="https://www.instagram.com/pr1ncesserycka/"
        id="ery">@pr1ncesserycka</a
      >! she's my lovely partner and i love her so much ehe
    </p>

    <h2>-ite drink?</h2>
    <p>
      OH SHIT i like mocha and vietnamese coffee! sometimes i just want to take
      a break from coffee so i just get a gallon of fresh, full cream milk
      instead
    </p>

    <h2>favourite music?</h2>
    <p>
      j-core and touhou rearrangements! have them on loop all the time hehe
    </p>

    <h2>favourite games?</h2>
    <p>i actually used to play FPS games a lot, but not anymore. i play <a href="https://store.steampowered.com/app/255710/Cities_Skylines/">Cities: Skylines</a> and <a href="https://maimai.sega.com/">maimai</a> most of the time (and sometimes touhou games)</p>

    <h2>favourite train line</h2>
    <p><a href="https://en.wikipedia.org/wiki/Metro_North_West_%26_Bankstown_Line">M1</a>, followed by the <a href="https://en.wikipedia.org/wiki/Central_Coast_%26_Newcastle_Linehttps://en.wikipedia.org/wiki/Central_Coast_%26_Newcastle_Line">CCN</a> and <a href="https://en.wikipedia.org/wiki/North_Shore_%26_Western_Line">T1</a></p>

    <h2>favourite motorway?</h2>
    <p><a href="https://en.wikipedia.org/wiki/M8_Motorway_(Sydney)">WestConnex M8</a>, followed by the <a href="https://en.wikipedia.org/wiki/M4_Motorway_(Sydney)">M4</a> and <a href="https://en.wikipedia.org/wiki/Western_Distributor_(Sydney)">Western Distributor</a></p>

    <h2>favourite road in general?</h2>
    <p><a href="https://en.wikipedia.org/wiki/Hume_Highway">Hume Highway</a>, home turf.</p>

    <h2>aren't you that guy in MACS?</h2>
    <p>
      that's me! i'm the Diversity and Inclusion Officer of MACS, but i just refer to myself as the inclusions guy
    </p>

    <h2>aren't you that guy in Steel Flower/SFLT?</h2>
    <p>
      that's also me! i'm not involved much with Steel Flower anymore but i still help out here and there. also i don't play Critical Ops anymore so there's that
    </p>

    <h2>why this one?</h2>
    <p>why not? </p>
  </span>
</div>
