---
import '../styles/container.css'
---

<div class="sub-container">
        <h1>contact me</h1>
        <span>
          <ul>
            <li><b>send me an email: </b><a href="mailto:everest@hikamarine.au">everest@hikamarine.au</a></li>
            <li><b>discord: </b>@hikamarine - <i>pretty active here</i></li>
            <li><b>bluesky: </b><a href="https://bsky.app/profile/hikamarine.au">@hikamarine.au</a></li>
            <li><b>instagram: </b><a href="https://www.instagram.com/nam.lg_/">@nam.lg_</a> - <i>no longer active</i></li>
            <li><b>steam: </b><a href="https://steamcommunity.com/id/hikamarine/">hikamarine</a> - <i>if you want to play games with me</i></li>
          </ul>
        </span>
      </div>