---
import '../styles/menu.css'
---

<!-- add disabled tag to disable menu items -->

<div class="menu-container">
    <a class="about" href="about">about</a>
    <a class="disabled projects">projects</a>
    <a class="disabled blog">blog</a>
    <a class="socials" href="contact">contacts / socials</a>
    <a href="https://github.com/hikalg" target="_blank" class="github">github</a>
</div>