---
import '../styles/menu.css'
---
<div class="menu-container">
    <a id="about" href="./about">about</a>
    <a id="projects">projects</a>
    <a id="blog">blog</a>
    <a id="socials">contacts / socials</a>
    <a href="" id="github">github</a>
</div>